body{
	margin: 0;
	padding: 0;
}
.container{
	width:100%;
	height:auto%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.about{
	width:100%;
	height: 450px;
	background-image: url(corporation.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.text{
	font-size: 30px;
	color:pink;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line{
	width:255px;
	height: 8px;
	background-color: #ff99b6;

	display: block;
	position: relative;
	border-radius: 5px;
	left:10%;
	box-shadow: 0px 15px 12px 0px #000;
}
.content{
	width:120%;
	height:auto;
	background-color: skyblue;
	font-size: 23px;
	font-family: audiowide;
	color:#333;
	line-height: 40px;
	text-align: center;
}
b{
	font-size: 50px;
	color:#000;
	font-weight: 500px;
}
footer{
	width:100%;
	height: auto;
	background-color: #333;
	color: #ff99b6;
	font-size: 23px;
	text-align: center;
	line-height: 50px;
}
